imports pandas

In [1]:
import pandas as pd

Creates dictionary

In [2]:
data = {
    "name":["Sajid","Majid","Tajid","Wajid"],
    "age":[15,17,29,37],
    "location":["England","Scotland","Ireland","Spain"],
    "Qualifications":[10,11,13,9],
    "Gender":["boy","girl","girl","boy"],
    "height":[1.6,1.8,1.56,1.95]
}

In [3]:
data

{'name': ['Sajid', 'Majid', 'Tajid', 'Wajid'],
 'age': [15, 17, 29, 37],
 'location': ['England', 'Scotland', 'Ireland', 'Spain'],
 'Qualifications': [10, 11, 13, 9],
 'Gender': ['boy', 'girl', 'girl', 'boy'],
 'height': [1.6, 1.8, 1.56, 1.95]}

Converting dictionary into pandas dataframe

In [4]:
df = pd.DataFrame(data)

In [5]:
df

    name  age  location  Qualifications Gender  height
0  Sajid   15   England              10    boy    1.60
1  Majid   17  Scotland              11   girl    1.80
2  Tajid   29   Ireland              13   girl    1.56
3  Wajid   37     Spain               9    boy    1.95

Converting dataframe into csv

In [9]:
df.to_csv("Students.csv")